<!DOCTYPE html>
{% import 'bootstrap/wtf.html' as wtf %}
<html lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta charset="UTF-8">
  <title>Document</title>
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Plugin CSS -->
    <link href="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.css') }}" rel="stylesheet">

    <link href="{{ url_for('static', filename='css/sb-admin.css') }}" rel="stylesheet">
</head>
<body>
  <form action="{{ url_for('login') }}" method="post" class="signin-form">
      {{ form.hidden_tag() }}
      {{ wtf.form_field(form.username) }}
      {{ wtf.form_field(form.password) }}
      {{ wtf.form_field(form.remember_me) }}
    <!--div class="form-group">
      <label for="username">Username</label><br>
      <input type="text" id="username" class="">
    </div>
    <div class="form-group">
      <label for="repeat-password">Repeat password</label><br>
      <input type="password" id="repeat-password" class="">
    </div>
    <div class="form-group">
      <input type="checkbox"> <span>Remember me</span> <br>
    </div-->
    <input type="submit" value="Log in">
  </form>
</body>
</html>