a[data-target="#exampleModal2"] {
  font-size: 12.8px;
  font-weight: normal;
  color: #000;
  text-shadow: none;
  opacity: 1;
}
.create-tournament-box .card-header{
  text-transform: uppercase;
}
.signup-form {
  opacity: 0.8;
  color: #fff;
}